<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Payment</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>



    <link rel="stylesheet" type="text/css" href="/static/css/checkout.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />

    <script src="static/javascript/productCategory.js" th:attr="src='/static/javascript/modal.js'" type="text/javascript" defer></script>
    <script src="static/javascript/login.js" th:attr="src='/static/javascript/login.js'" type="text/javascript" defer></script>

</head>
<body>

<div th:replace="navbar.html :: copy"></div>

<!-- Modal content -->
<div class="body-class">
    <div id="myModal" class="modal-content text-center">
        <div class="modal-header">
            <h2 class="text-center col-25">Payment Failure!</h2>
        </div>
        <div class="modal-body">
            <p class="text-center">The amount is not enough for purchase, or wrong type was given.</p>
            <p class="text-center">Send the right amount.</p>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <form name="myForm" action="/success">
                <div class="col-25">
                    <h3>Payment</h3>
                    <label for="cname">Name on Card</label>
                    <input class="info" type="text" id="cname" name="cardname" placeholder="John More Doe">
                    <label hidden for="email"><i class="fa fa-envelope"></i> Email</label>
                    <input class="info" hidden type="text" id="email" name="email" th:value="${email}">
                    <label for="cnum">Credit card number</label>
                    <input class="info" type="text" id="cnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                    <label for="cname">Amount</label>
                    <input class="info" type="text" id="amount" name="amount" required pattern="{1,100000}" placeholder="500 USD">
                    <label for="expmonth">Exp Month</label>
                    <input class="info" type="text" id="expmonth" name="expmonth" placeholder="September">

                    <div class="row">
                        <div class="col-50">
                            <label for="expyear">Exp Year</label>
                            <input class="info" type="text" id="expyear" name="expyear" placeholder="2018">
                        </div>
                        <div class="col-50">
                            <label for="cvv">CVV</label>
                            <input class="info" type="text" id="cvv" name="cvv" placeholder="352">
                        </div>
                        <div class="col-50">
                            <h3>Total </h3>
                            <h4 id="total" th:attr="data-value=${total}" th:text="${total} +' ' +${currency}">Total </h4>
                        </div>
                        <div class="col-25"><a href="/success"></a>
                            <input type="submit" id="success" value="Buy" class="payment btn">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="footer.html :: copy"></div>

</body>
</html>
